*
header{ 
    background-color: rgb(114, 9, 9);
    padding-left: 5px;
    padding-top: .5%;
    padding-bottom: .5%;
    position: relative;
    color: white;
    margin: 0;
}

body{
    font-family: sans-serif;
    margin: 0;
}
.menu {
    position: relative;
    display: inline;
    border-right: 1px solid white;
    padding: 10px 10px 10px 10px;
    margin: 0; 

}

.menu:hover {
    cursor: pointer; 
    background-color: rgb(63, 62, 62); 
}

.menu:hover ul {
    display: block;
}

.menu ul {
    position: absolute;
    text-align: left; 
    top: 100%;
    background-color: rgb(63, 62, 62); 
    padding: 5px;
  display: none;
box-shadow: 2px 2px 10px 1px black;
margin: 0;

}

.menu li a {
text-decoration: none; 
color: white; 
display: block; 
padding: 1px 100px 5px 5px;
border-bottom: 1px solid white;
}

.menu ul li:last-child a {
    border-bottom: none;
}

.menu li:hover {
    background-color: gray;

}