#gallery {
    position: fixed;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

img {
    border-radius: 10px;
    border-style: none;
    box-shadow: 5px 5px;
    margin: 10px;
    flex-grow: 2;
    object-fit: cover;
}

img:hover {
    transform: scale(1.2);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}