
body { background-color: rgb(220, 187, 221);
    color: rgb(247, 247, 247);
    width: 800px;
    figure {margin: auto;
            width: 600px;}
    }
h1 { background-color: rgb(102, 19, 88);
    color: rgb(255, 255, 255);}
h2 { background-color: rgb(220, 187, 221);
    color: rgb(255, 255, 255);}
h3 { background-color: rgb(220, 187, 221);
    color: rgb(17, 16, 16);}
p { background-color: rgb(220, 187, 221);
    color: rgb(17, 16, 16);}
figcaption {
    font-style: italic;
    color: rgb(10, 10, 10);}
img {
    width: 350px;}
