
body { background-color: rgb(229, 174, 148);
        color: rgb(28, 21, 123);
        width: 800px;
        figure {margin: auto;
                width: 600px;}
        }
h1 { background-color: #637B15;
        color: #D2E594;}
h2 { background-color: #9CB44D;
        color: #637B15;}
h3 { background-color: #D2E594;
        color: #637B15;}
p { background-color: #D2E594;
        color: #637B15;}
figcaption {
        font-style: italic;
        color: #B1B1B1;}
img {
        width: 600px;}
