
body { background-color: rgb(126, 123, 126);
    color: rgb(247, 247, 247);
    width: 800px;
 }



h1 { background-color: rgb(170, 136, 164);
    color: rgb(255, 255, 255);
    padding: 60px;
    font-size: 80px;
    font-family: 'Dancing Script';
}

p { 
    color: rgb(230, 225, 225);
    font-size: 20px;
    }

  
img {
    width: 350px;}

nav{
    padding: 10px;
    font-size: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

