body {
    background-color: rgb(212, 241, 247);
}

#panel{
    position: fixed;
    top: 50px;
    bottom: 50px;
    right: 50px; 
    left: 50px; 
    box-shadow: 0 0 5px blanchedalmond;
}
#picture{ 
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.arrow{ 
    position: fixed;
    top: 50%;
    width: 25px;
    cursor: pointer;
}
#left{
    left:5px;
}
#right{
    right:5px;
}
