
body { background-color: rgb(13, 17, 1);
    text: #ffffff;
    color: rgb(189, 192, 179);
    width: 800px;
    figure {margin: auto;
            width: 600px;}
    }

    .square {
        width: 100px;
        height: 100px;
        background: rgb(255, 255, 255);
    }

    .circle {
        width: 100px;
        height: 100px;
        background: rgb(255, 255, 255);
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
    }
    