

body {
    background-repeat: repeat;    
    background-image: url(http://www.dundjinni.com/forums/uploads/Ravenbow/49E_BrickRound70_CG_bg-a.png);
}
h1 {color: rgb(241, 164, 21);
    font-family: sans-serif;
}


h3{ color:rgb(20, 20, 20)

}
p { color: #fdfdfd;
    border-radius: 15px;
    border-left-color: gold;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 7px;
    border-radius: 7px;
    border-style: solid;
    margin-bottom: 60px;
    padding-left: 10px;
    
}



nav {
    background-color: rgb(235, 218, 64);
    float: right; 
    width: 150px; 
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 20px goldenrod;
    }

#fire {
    background-image: url(http://www.pngmart.com/files/1/Fire-Flame-Transparent-Background.png);
    width: 100%;
    height: 300px;
    float: bottom;
    position: absolute;
    }
